
h1{
  color: #fdfdfd;
}


table {
  margin-top: 30px;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
}

.sortable {
  cursor: pointer;
}

.customer_container{
  margin-top: 100px;
}

