<div class="container">
  <h1 >Properties</h1>
  <div class="mt-4 table-responsive">
    <table class="table table-bordered text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Property Name</th>
          <th scope="col">Price</th>
          <th scope="col">Address</th>
          <th scope="col">city</th>
          <th scope="col">zipcode</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let property of properties">
        <tr>
          <td>
            <img
              src="{{'http://localhost:8080/api/agent/downloadFile/'}}{{property.id}}"
              class="card-img-top"
              alt="Property Image"
              style="width: 200px; height: 150px;"
            />
          </td>
          <td>{{ property.propertyName }}</td>
          <td>₹ {{ property.price }}</td>
          <td>
              <p>{{ property.address }}</p>
          </td>
          <td> <p>{{ property.city }}</p></td>
          <td><p>{{ property.zipcode }}</p></td>
         
              
          <td class="action-btns">
            <a
            routerLink="/updateProperty"
            class="btn btn-secondary btn-block me-2 mt-2 px-2"
            (click)="editProperty(property.id!)"
            >Edit</a
          >
          <a
            routerLink="/agentProperties"
            class="btn btn-danger btn-block mt-2"
            (click)="deleteProperty(property.id!)"
            >Delete</a
          >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



