<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid pt-0">
    <div class="d-flex align-items-center">
      <div class="navbar-nav me-auto">
        <a class="navbar-brand" routerLink="/">
          <i class="fa fa-house ps-1 pe-2"></i>Real estate
        </a>

        <a class="navbar-brand" routerLink="/properties">
          <i class="fa fa-house pe-2"></i>Properties
        </a>

        <a class="navbar-brand ps-1" routerLink="/bookedProperties">
          <i class="fa fa-person pe-2"></i>Booked
        </a>

        <a class="navbar-brand ps-1" routerLink="/agents">
          <i class="fa fa-person pe-2"></i>Agents
        </a>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="navbar-nav">
        <button type="submit" class="btn btn-primary px-3" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Line at the bottom -->
<div class="navbar-line"></div>



