<div class="container">
  <table class="table table-bordered property-table">
    <thead class="thead-light table-head">
      <tr>
        <th>Image</th>
        <th>Property Name</th>
        <th>Price</th>
        <th>Address</th>
        <th>City</th>
        <th>Agent Name</th>
        <th>Contact Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let booking of booked">
      <tr *ngIf="userId===booking.customerId">
        <td><img
          src="https://images.nobroker.in/images/8a9fa78288766a5d0188768a32051237/8a9fa78288766a5d0188768a32051237_15372_566993_medium.jpg"
          alt="Property Image"
          class="property-image"
        /></td>
        <td>{{booking.propertyName}}</td>
        <td>${{booking.price}}</td>
        <td>{{booking.address}}</td>
        <td>{{booking.city}}</td>
        <td>{{booking.name}}</td>
        <td>{{booking.contactNumber}}</td>
        <td><button class="cancel-btn">Cancel Booking</button></td>
      </tr>
      <!-- Add more rows for additional properties -->
    </tbody>
  </table>
</div>




