  /*booked properties*/
.property-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

  }
  .property-details {

    width: 50%;
    padding-left: 100px;

  }
  .agent-details{
      padding-right: 100px;
  }
  .property-image {
    width: 150px; /* Adjust as needed */
    height: auto;
  }
  .container {
  margin-top: 90px;
  }
  h1{
    color: #fdfdfd;
  }

  /*navbar*/
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
  }
  .navbar-brand img {
    width: 80px; 
    height: auto;
    margin-right: 20px;
  }
  .navbar a {
    color: white;
    margin: 0 10px;
  }
  .navbar a:hover {
    color: #ddd;
  }
  .navbar-line {
    border-bottom: 1px solid white;
  width: 100%;
  margin-top: 5px;
  position: fixed;
  top: 50px; 
  z-index: 999;
  background-color: transparent;
  position: absolute;
  }
  .navbar-nav {
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 2px;
    color: white;
  }
  .navbar-line {
    border: none;
    width: 80%;
    border-top: 0.5px solid white;
    margin-left: 90px;
    padding-top: 50px;
    margin-bottom: 20px;
  }
