

<div class="container">
  <div class="row product-container">
    <div class="col-md-6">
      <img
        src="https://images.nobroker.in/images/8a9fdb82845fb53f01845ff9abe92521/8a9fdb82845fb53f01845ff9abe92521_59932_942966_medium.jpg"
        alt="Product Image"
        class="img-fluid product-image"
      />
    </div>
    <div class="col-md-6" *ngIf="propertyDetail || agentProperty">
      <h2>Product Name : {{propertyDetail.propertyName || agentProperty.propertyName}}</h2>
      <p>Price: {{propertyDetail.price || agentProperty.price}}</p>
      <p>Address: {{propertyDetail.address || agentProperty.address}}</p>
      <p>city:{{propertyDetail.city || agentProperty.city}}</p>
      <p>zipcode:{{propertyDetail.zipcode || agentProperty.zipcode}}</p>

      <button class="btn btn-primary" routerLink="/bookedProperties" (click)="bookProperty(propertyDetail)" *ngIf="role==='USER'">Book Now</button>
    </div>
  </div>
</div>

