<div class="container  mt-5">
  <div class="card productDetail border-0 shadow-lg">
    <div class="row g-0" *ngIf="propertyDetail || agentProperty  ">
      <div class="col-md-8" *ngIf="propertyDetail.id">
        <img  src="{{ 'http://localhost:8080/api/agent/downloadFile/' }}{{propertyDetail.id}}" style="width: 900px; height: 600px" alt="Product Image" class="card-img-top">
      </div>
      <div class="col-md-4 bg-light" >
        <div class="card-body mt-5">
          <h2 class="card-title mt-3">Product Name: {{propertyDetail.propertyName || agentProperty.propertyName || categoryProperties.propertyName}}</h2>
          <p class="card-text mt-3">Price: {{propertyDetail.price || agentProperty.price || categoryProperties.price}}</p>
          <p class="card-text mt-3">Address: {{propertyDetail.address || agentProperty.address || categoryProperties.address}}</p>
          <p class="card-text mt-3">City: {{propertyDetail.city || agentProperty.city || categoryProperties.city}}</p>
          <p class="card-text mt-3">Zipcode: {{propertyDetail.zipcode || agentProperty.zipcode || categoryProperties.zipcode}}</p>
          <button class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#confirmationModal"  *ngIf="role==='USER'">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-primary">
        Are you sure you want to book this property?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" (click)="bookProperty(propertyDetail)" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
