<style>
  .left-column {
    padding-top: 200px;
  }
  .right-column img {
    height: 100%;

    padding-left: 140px;
  }
  .home-container{
    margin-top: 5%;
  }
  h1 {
    color: white;
  }
  h4 {
    color: grey;
  }
  .container-fluid {
    
    padding-left: 5%;
  }
 
 </style>

<div class="container-fluid home-container">
  <div class="row">
    <!-- Left side column -->
    <div class=" left-column text-center col-6">
      <h1>Find Your Best Real Estate</h1>
      <br />
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
        Curabitur vitae malesuada justo.
      </h4>
    </div>

    <!-- Right side column -->
    <div class="col-6 right-column">
      <img
        src="../../../assets/images/real estate project image.png"
        alt="Placeholder Image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
