<style>
  .left-column {
    padding-top: 200px;
  }
  .right-column img {
    height: 100%;

    padding-left: 140px;
  }
  .home-container {
    margin-top: 5%;
  }
  h1 {
    color: white;
  }
  h4 {
    color: grey;
  }

  .card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
  }
  .card-title-overlay {
    font-size: 1.5rem;
  }
  .category {
    width: 200px;
    height: 200px;
  }
  .card {
    transition: transform 0.3s;
    cursor: pointer;
  }
  .card:hover {
    overflow: visible;
    transform: scale(1.1);
    z-index: 1;
    color: aqua;
  }
  .card-body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .headline {
    background-color: rgb(207, 221, 233);

  }
  h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .featuredProperty{
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .container-property {
    padding-top: 90px;
    background-color: rgb(207, 221, 233);
  }
  h1{
    
    font-weight: bold;
  }
  
</style>

<div class="container-fluid home-container">
  <div class="row">
    <!-- Left side column -->
    <div class="left-column text-center col-6">
      <h1>Find Your Best Real Estate</h1>
      <br />
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
        Curabitur vitae malesuada justo.
      </h4>
    </div>

    <div class="col-6 right-column">
      <img
        src="../../../assets/images/real estate project image.png"
        alt="Placeholder Image"
        class="img-fluid"
      />
    </div>

    <div class="container headline pt-5 pb-5">
      <div class="container">
        <h2 style="color:black">Property types</h2>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          class="card card-img mx-3 my-4"
          *ngFor="let category of categories"
          style="width: 11rem; height: 12rem"
          routerLink="/categories"
          (click)="setCategoryId(category.categoryId!)"
        >
          <img
            *ngIf="category.categoryId === 1"
            src="../../../assets/images/small house category.png"
            class="card-img-top card-text"
            alt="..."
          />
          <img
            *ngIf="category.categoryId === 2"
            src="../../../assets/images/town category.png"
            class="card-img-top card-text"
            alt="..."
          />
          <img
            *ngIf="category.categoryId === 3"
            src="../../../assets/images/shop category.png"
            class="card-img-top card-text"
            alt="..."
          />
          <img
            *ngIf="category.categoryId === 4"
            src="../../../assets/images/townhouse category.png"
            class="card-img-top card-text"
            alt="..."
          />
          <img
            *ngIf="category.categoryId === 5"
            src="../../../assets/images/villa category.png"
            class="card-img-top card-text"
            alt="..."
          />
          <img
          *ngIf="category.categoryId === 6"
          src="../../../assets/images/office building category.png"
          class="card-img-top card-text"
          alt="..."
        />

          <h5 class="card-text text-center text-muted">
            {{ category.categoryName }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container d-flex footer justify-content-around mt-5">
      <div class="container">
        <div>
          <p class="mt-4 heading" style="letter-spacing: 1px; font-weight: bold; font-size: 30px; text-align: center;">
            DreamHome
          </p>
          <p style="text-align: justify">
            Offering premier real estate services since 1998, dedicated to finding your perfect home.
          </p>
        </div>
        <div>
        
          <div class="d-flex mt-4 justify-content-evenly">
            <i class="fab fa-facebook social-icon"></i>
            <i class="fab fa-twitter social-icon"></i>
            <i class="fab fa-instagram social-icon"></i>
            <i class="fab fa-linkedin social-icon"></i>
          </div>
        </div>
      </div>
    
      <div class="container">
        <div>
          <p class="mt-4 heading " style="letter-spacing: 1px; font-weight: bold; font-size: 30px; text-align: center;">
            Services
          </p>
          <ul style="text-align: justify-content-center" class="ps-5 ms-4 text-align">
            <li>Property Listings</li>
            <li>Real Estate Consultation</li>
            <li>Home Valuation</li>
            <li>Investment Opportunities</li>
          </ul>
        </div>
      </div>
    
      <div class="container me-4">
        <div>
          <p class="mt-4 heading " style="letter-spacing: 1px; font-weight: bold; font-size: 30px; text-align: center;">
            Contact Details
          </p>
          <ul class="contact-details" style="text-align: justify">
            <li style="font-weight: bold">
              Phone: <span style="font-weight: lighter">+1 123 456 7890</span>
            </li>
            <li style="font-weight: bold">
              Email: <span style="font-weight: lighter">info@dreamhome.com</span>
            </li>
            <li style="font-weight: bold">
              Location: <span style="font-weight: lighter">1234 Main Street, City, Country</span>
            </li>
          </ul>
        </div>
      </div>
    
      <div class="container">
        <div>
          <p class="mt-4 heading" style="letter-spacing: 1px; font-weight: bold; font-size: 30px; text-align: center;">
            Contact Us
          </p>
          
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your Email" />
          </div>
          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Send Message</button>
        </div>
      </div>
    </div>
  </section>
  
  
</div>


