<div class="container ">
  <div class="card mt-4" *ngFor="let agent of agents">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Name: </strong> {{ agent.agentName }}</p>
          <p><strong>Contact Number:</strong> {{ agent.contactNumber }}</p>
        </div>
      </div>

      <hr class="my-4" />

      <!-- Properties Section -->
      <h3>Properties</h3>
      <div class="table-responsive">
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>Image</th>
              <th>Property Name</th>
              <th>Price</th>
              <th>Address</th>
              <th>city</th>
              <th>zipcode</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of agent.propertyList">
              <td>
                <img
                  src="{{'http://localhost:8080/api/agent/downloadFile/'}}{{property.id}}"
                  class="card-img-top"
                  alt="Property Image"
                  style="width: 200px; height:150px"
                />
              </td>
              <td>{{ property.propertyName }}</td>
              <td>{{ property.price }}</td>
              <td>{{ property.address.address }}</td>
              <td>{{ property.address.city }}</td>
              <td>{{ property.address.zipcode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
