<div class="container ">
  <div class="card mt-4" *ngFor="let agent of agents">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="image pt-2">
            <img
              src="https://i.pinimg.com/originals/76/da/03/76da03c579566626fa270bdb6df1280b.jpg"
              class="card-img-top"
              alt="Property Image"
            />
          </div>
          <p><strong>Name: </strong> {{ agent.agentName }}</p>
          <p><strong>Contact Number:</strong> {{ agent.contactNumber }}</p>
        </div>
      </div>

      <hr class="my-4" />

      <!-- Properties Section -->
      <h3>Properties</h3>
      <div class="table-responsive">
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>Image</th>
              <th>Property Name</th>
              <th>Price</th>
              <th>Address</th>
              <th>city</th>
              <th>zipcode</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of agent.propertyList">
              <td>
                <img
                  src="https://images.nobroker.in/images/8a9fac838b9d4285018b9deaffcd58b5/8a9fac838b9d4285018b9deaffcd58b5_43680_455875_medium.jpg"
                  class="card-img-top"
                  alt="Property Image"
                />
              </td>
              <td>{{ property.propertyName }}</td>
              <td>{{ property.price }}</td>
              <td>{{ property.address.address }}</td>
              <td>{{ property.address.city }}</td>
              <td>{{ property.address.zipcode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
