<div class="container py-4">
  <h1>Category properties</h1>
  <div class="row">
    <div class="col-md-3" *ngFor="let property of categories">
      <div class="card property-card" *ngIf="property.approve===true">
        <div></div>
        <img
          src="{{ 'http://localhost:8080/api/agent/downloadFile/' }}{{
            property.propertyId
          }}"
          class="card-img-top"
          alt="Property Image"
          style="transition: transform 0.8s"
        />
        <div class="card-body">
          <div class="card-location d-flex">
            <i class="fa-solid fa-location-dot me-1 pb-3"></i>
            <p class="card-text">{{ property.address }}</p>
          </div>
          <h5 class="card-title pb-2">
            {{ property.propertyName }}
          </h5>
          <div class=" ">
            <!-- <p class="text-primary me-3 "> {{ property.city }}</p> -->
            <p>₹{{ property.price }}</p>
          </div>
         
          <div class="">
            <div class="text-primary">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Agent</th>
                    <td>{{ property.agentName }}</td>
                  </tr>
                  <tr>
                    <th>Contact</th>
                    <td>{{property.contactNumber}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
