<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    
    <div class="d-flex align-items-center">
      <div class="navbar-nav me-auto">
        <a class="navbar-brand" href="/">
          <i class="fas fa-home ps-1 pe-2"></i>DreamHome
        </a>
        
        <a class="navbar-brand" href="/properties">
          <i class="fa fa-house pe-2"></i>Properties
        </a>
      </div>
    </div>

    
    <div class="d-flex align-items-center">
      <div class="navbar-nav">
          <!-- Login Button -->
        <button type="submit" routerLink="/login" class="btn btn-primary ps-1 me-1"><i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </button>
         <!-- register Button -->
        <button type="submit" routerLink="/register" class="btn btn-primary ps-1 pe-1"> <i class="fa fa-user-plus" aria-hidden="true"></i>
          Register
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="navbar-line"></div>






