    <div class="container table_container">
      <h1 class="admin">Welcome, Admin!</h1> 
      <div class="row">
         <!-- Lottie animation column -->
        <div class="col-md-6 lotty">
          <ng-lottie [options]="options"></ng-lottie>
        </div>

        <!-- card column describes total customers -->
        <div class="col-md-6">
          <div class="card card-total-users shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-4">Number of customers</h3>
              <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-3 text-primary">{{totalCustomers}}</h1>
              </div>
            </div>
          </div>
        </div>

        <!-- card column describes total agents -->
        <div class="col-md-6">
          <div class="card card-total-users shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-4">Number of Agents</h3>
              <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-3 text-primary">{{totalAgents}}</h1>
              </div>
            </div>
          </div>
        </div>
        
        <!-- card column describes total properties -->
        <div class="col-md-6">
          <div class="card card-total-users shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-4">Number of Properties</h3>
              <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-3 text-primary">{{totalProperties}}</h1>
              </div>
            </div>
          </div>
        </div>

        <!-- card column describes no of customer bookings -->
        <div class="col-md-6">
          <div class="card card-total-users shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-4">Number of Customer Bookings</h3>
              <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-3 text-primary">{{ totalBookings }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>