<!-- confirmation-modal.component.html -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="confirmationModalLabel">
          {{ title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-primary">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="onCancel()"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="onConfirm()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
