<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="pe-4">Properties</h1>

    <!-- Custom Search Input -->
    <div class="input-group custom-search">
      <input
        class="form-control rounded"
        type="search"
        placeholder="Search Property By Name"
        aria-label="Search"
        [(ngModel)]="search"
        (ngModelChange)="filterArray()"
      />
    </div>
  </div>

  <!-- Table Section for Displaying Properties -->
  <div class="mt-4 table-responsive">
    <table class="table table-bordered text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Property Name</th>
          <th scope="col">Price</th>
          <th scope="col">Address</th>
          <th scope="col">city</th>
          <th scope="col">zipcode</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <!-- Table Body with Property Data -->
      <tbody
        *ngFor="
          let property of properties.slice(
            (currentPage - 1) * itemsPerPage,
            currentPage * itemsPerPage
          )
        "
      >
        <tr>
          <td>
            <img
              src="{{ 'http://localhost:8080/api/agent/downloadFile/' }}{{
                property.id
              }}"
              class="card-img-top"
              alt="Property Image"
              style="width: 200px; height: 150px"
            />
          </td>
          <td>{{ property.propertyName }}</td>
          <td>₹ {{ property.price }}</td>
          <td>
            <p>{{ property.address }}</p>
          </td>
          <td>
            <p>{{ property.city }}</p>
          </td>
          <td>
            <p>{{ property.zipcode }}</p>
          </td>

          <!-- edit button -->
          <td class="action-btns">
            <a
              routerLink="/updateProperty"
              class="btn btn-secondary btn-block me-2 mt-2 px-2"
              (click)="editProperty(property.id!)"
              >Edit</a
            >
            <!-- delete button -->
            <a
              class="btn btn-danger btn-block mt-2"
              data-bs-toggle="modal"
              data-bs-target="#confirmationModal"
              (click)="setSelectedPropertyId(property.id!)"
              >Delete</a
            >
          </td>
        </tr>
        <!-- Delete Property Confirmation Modal -->
        <app-confirmation-modal
          [title]="'Confirmation'"
          (confirm)="deleteProperty(selectedPropertyId!)"
          (cancel)="onCancelDelete()"
        >
          Are you sure you want to delete the property?
        </app-confirmation-modal>
      </tbody>
    </table>

    <!-- Pagination Section -->
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="currentPage = currentPage - 1"
          >Previous</a
        >
      </li>
      <li
        class="page-item text-danger"
        *ngFor="let page of getPageNumbers()"
        [class.active]="currentPage === page"
      >
        <a class="page-link" (click)="currentPage = page">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getLastPage()">
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </div>
</div>
