.register-form {
    padding: 20px;
    padding-top: 50px;
  }
  .lotty {
    padding: 80px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }