<div *ngIf="!isLoggedIn"><app-navbar/><router-outlet /></div>

<div *ngIf="isLoggedIn" class="container-fluid vh-100 d-flex flex-column">
  <!-- <div class="row">
    <header class="navbar sticky-top bg-primary p-2 shadow">
      <a class="navbar-brand px-3 text-white" routerLink="/">Shopping</a>
      <a class="navbar-brand px-3 text-white" routerLink="/agents">agents</a>
      <a class="navbar-brand px-3 text-white" routerLink="/agentProperties">properties</a>
      <a class="navbar-brand px-3 text-white" routerLink="/customerBookings">bookings</a>
      <a class="navbar-brand px-3 text-white" routerLink="/addProperty">AddProperty</a>
      <a class="navbar-brand px-3 text-white" routerLink="/register">register</a>
      <a class="navbar-brand px-3 text-white" routerLink="/updateProperty">updateProperty</a>
      <a class="navbar-brand px-3 text-white" routerLink="/updateProperty">approvePr</a>

      <div class="navbar-nav px-4 text-white" (click)="logout()" role="button">
        <i class="fa-solid fa-solid fa-right-from-bracket text-white"></i>
      </div>
    </header>
  </div>
   -->

  <div *ngIf="isAgent"><app-agent-page></app-agent-page><router-outlet /></div>

  <div *ngIf="!isAdmin && !isAgent">
    <app-user-page></app-user-page><router-outlet />
  </div>

  <div *ngIf="isAdmin" class="row flex-grow-1">
    <div class="sidebar border border-right col-2 p-0">
      <div class="bg-body-tertiary h-100" tabindex="-1">
        <div class="d-flex flex-column p-0 pt-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item d-flex align-items-center px-4 sideBarItem">
              <i class="fa-solid text-primary fa-house"></i>
              <a class="nav-link d-flex text-primary align-items-center" routerLink="/admin">
                Dashboard
              </a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarActive">
              <i class="fa-solid text-primary fa-book"></i>
              <a
                class="nav-link text-primary d-flex align-items-center"
                routerLink="/properties"
                >properties
              </a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarActive">
              <i class="fa-solid text-primary fa-book"></i>
              <a
                class="nav-link d-flex text-primary align-items-center"
                routerLink="/approveProperty"
                >Approve
              </a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarItem">
              <i class="fa-solid text-primary fa-user"></i>
              <a
                class="nav-link d-flex text-primary align-items-center"
                routerLink="/customerBookings"
                >customers</a
              >
            </li>
            <div
              class="navbar-nav px-4 text-white"
              (click)="logout()"
              role="button"
            >
              <i class="fa-solid fa-solid fa-right-from-bracket text-white"></i>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <main class="col-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
  <div *ngIf="!isAdmin">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
