 /* Add custom styles here */
        /* For example: */
        table {
            width: 100%;
        }

        th,
        td {
            padding: 5px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
  