<div class="container">
  <h1>Properties</h1>
  <div class="mt-4 table-responsive">
    <table class="table table-bordered text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Property Name</th>
          <th scope="col">Price</th>
          <th scope="col">Address</th>
          <th scope="col">city</th>
          <th scope="col">zipcode</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let property of properties">
        <tr>
          <td>
            <img
              src="https://images.nobroker.in/images/8a9fdb82845fb53f01845ff9abe92521/8a9fdb82845fb53f01845ff9abe92521_59932_942966_medium.jpg"
              class="card-img-top"
              alt="Property Image"
            />
          </td>
          <td>{{ property.propertyName }}</td>
          <td>₹ {{ property.price }}</td>
          <td>
              <p>{{ property.address }}</p>
          </td>
          <td> <p>{{ property.city }}</p></td>
          <td><p>{{ property.zipcode }}</p></td>

          <td class="action-btns" *ngIf="property.approve===false">
            <a
            routerLink="/approveProperty"
            class="btn btn-danger btn-block me-2 mt-2 px-2"
            (click)="approveProperty(property)"
            >Approve</a
          >
          </td>
          <td class="action-btns" *ngIf="property.approve===true">
            <a
            class="btn btn-success btn-block me-2 mt-2 px-2"
            >Approved</a
          >
          </td>
        </tr>
      </tbody>
    </table>
    <div
    class="navbar-nav px-4 text-white"
    (click)="logout()"
    routerLink="/addProperty"
    role="button"
  >
    <i class="fa-solid fa-solid fa-right-from-bracket text-white"></i>
  </div>
  </div>
</div>



