
<div class="container-fluid">
  <div class="row">
    <!-- Left side - Add Property form -->
    <div class="col-md-6">
      <div class="add-property-form text-primary">
        <h2>Add Property</h2>
        <form #addPropertyForm="ngForm" (ngSubmit)="addProperty(addPropertyForm)">
          <div class="form-group">
            <label for="propertyName" class="mb-2">Property Name</label>
            <input
              type="text"
              class="form-control mb-3"
              id="propertyName"
              placeholder="Enter property name"
              name="propertyName"
              [(ngModel)]="propertyName"
              required
              #modelPropertyName="ngModel"
              [ngClass]="!modelPropertyName.dirty ? 'is-invalid' : ''"
            />
            <div *ngIf="modelPropertyName.invalid" class="invalid-feedback">
              please enter property name
            </div>
          </div>
          <div class="form-group">
            <label for="Address" class="mb-2">Address</label>
            <input
              type="text"
              class="form-control mb-3"
              id="Address"
              placeholder="Enter Address"
              name="Address"
              [(ngModel)]="Address"
              required
              #modelAddress="ngModel"
              [ngClass]="!modelAddress.dirty ? 'is-invalid' : ''"
            />
            <div *ngIf="modelAddress.invalid" class="invalid-feedback">
              please enter Address
            </div>
          </div>
          <div class="form-group">
            <label for="city" class="mb-2">City</label>
            <input
              type="text"
              class="form-control mb-3"
              id="city"
              placeholder="Enter city"
              name="city"
              [(ngModel)]="city"
              required
              #modelCity="ngModel"
              [ngClass]="!modelCity.dirty ? 'is-invalid' : ''"
            />
            <div *ngIf="modelCity.invalid" class="invalid-feedback">
              please enter city
            </div>
          </div>
          <div class="form-group">
            <label for="zipcode" class="mb-2">Zip Code</label>
            <input
              type="text"
              class="form-control mb-3"
              id="zipcode"
              placeholder="Enter zipcode"
              name="zipcode"
              [(ngModel)]="zipcode"
              required
              #modelZipcode="ngModel"
              [ngClass]="!modelZipcode.dirty ? 'is-invalid' : ''"
            />
            <div *ngIf="modelZipcode.invalid" class="invalid-feedback">
              please enter zipcode
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="mb-2">Price</label>
            <input
              type="text"
              class="form-control mb-3"
              id="price"
              name="price"
              [(ngModel)]="price"
              required
              #modelPrice="ngModel"
              [ngClass]="!modelPrice.dirty ? 'is-invalid' : ''"
            />
            <div *ngIf="modelPrice.invalid" class="invalid-feedback">
              please enter price
            </div>
          </div>
          <div class="form-group">
            <label for="image" class="mb-2">Image Upload</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input mb-2" id="image" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>

    
    <div class="col-md-6 building-image">
      <img
        src="../../../assets/images/real estate project image.png"
        alt="Placeholder Image"
        class="img-fluid"
      /> 
    </div>
  </div>
</div>


