<div class="container mt-4">
  <h1>Customer bookings</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>Customer Name</th>
        <th>Contact Number</th>
        <th>Property Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Booked Time</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customerBookings">
      <tr>
        <td>
          <img
            src="https://images.nobroker.in/images/8a9fa78288766a5d0188768a32051237/8a9fa78288766a5d0188768a32051237_15372_566993_medium.jpg"
            alt="Property Image"
            class="property-image"
          />
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.contactNumber }}</td>
        <td>{{ customer.propertyName }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.price }}</td>
        <td>{{ customer.bookedTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
