.container {
margin-top: 90px;
}
h1{
  color: #fdfdfd;
}


table {
  margin-top: 30px;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 100px;
  height: auto;
}