.add-property-form {
    padding-top: 15px;
    padding-left: 50px;
  }
  .container-fluid {
    padding-top: 80px;
  } 
  .building-image{
    padding-left: 100px;
    width: 50%;
    height: 50%;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; 
  }

 